@model NetBoox.ViewModels.BookViewModel

@{
    ViewBag.Title = @Language.Details;
}

<h2>@Language.Details</h2>

<div>
    <h4>@Language.Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Language.Edit, "Edit", new { id = Model.BookId }) |
    @Html.ActionLink(@Language.Back, "Index")
</p>
