@model IEnumerable<NetBoox.ViewModels.BookViewModel>

    @{
        ViewBag.Title = @Language.Books;
    }

    <h2>@Language.Books</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", new { id = item.BookId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.ActionLink(@Language.Edit, "Edit", new { id = item.BookId }) |
                    @Html.ActionLink(@Language.Delete, "Delete", new { id = item.BookId })
                </td>
            </tr>
        }
    </table>
    <p>@Html.ActionLink(@Language.CreateNew, "Create")</p>
