@model NetBoox.ViewModels.GenreViewModel

@{
    ViewBag.Title = @Language.Delete;
}

<h2>@Language.Delete</h2>

<h3>@Language.AreYouSureDelete</h3>
<div>
    <h4>@Language.Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Language.Delete class="btn btn-default" /> |
            @Html.ActionLink(@Language.Back, "Index")
        </div>
    }
</div>
