@model NetBoox.ViewModels.GenreDetailsViewModel

@{
    ViewBag.Title = @Model.GenreViewModel.GenreName;
}

<h2>@Language.Genre @Model.GenreViewModel.GenreName</h2>

@{Html.RenderPartial("BookList", Model.BookViewModelList);}

@using (Ajax.BeginForm("AddBook", "Book", new AjaxOptions { LoadingElementId = "spinner", UpdateTargetId = "booklist" }))
{
    Html.RenderPartial("AddBook", Model.BookViewModel);
}

<p>
    @Html.ActionLink(@Language.EditGenreName, "Edit", new { id = Model.GenreViewModel.GenreId }) |
    @Html.ActionLink(@Language.Back, "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
