@model NetBoox.ViewModels.GenreViewModel

@{
    ViewBag.Title = @Language.Edit;
}

<h2>@Language.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Language.Genre</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GenreId)

        <div class="form-group">
            @Html.LabelFor(model => model.GenreName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GenreName)
                @Html.ValidationMessageFor(model => model.GenreName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Language.Save class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Language.Back, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
